<div class="maquina card mb-4 mx-5">
  <div class="card-header header">
    <select class="form-control search" id="area" [(ngModel)]="selectedArea" (ngModelChange)="searchByArea()">
      <option value="">Seleccionar área...</option>
      <option *ngFor="let a of areas" [value]="a.idarea">{{a.area | titlecase}}</option>
    </select>
    <input type="text" class="form-control search" placeholder="Buscar equipo.."
      (input)="onSearchChange($event.target.value)">
    <a class="btn" data-toggle="tooltip" data-placement="top" title="Nuevo equipo" (click)="addMaquina()">
      <i class="material-icons"> add </i></a>
  </div>
  <div class="table-responsive-lg px-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Equipo</th>
          <th scope="col"><button type="button" class="btn btn-link" title="Ir a áreas"
              [routerLink]="['/area'] ">Área</button></th>
          <th scope="col"><button type="button" class="btn btn-link" title="Ir a tipo de equipo"
              [routerLink]="['/tipoEquipo']">Tipo de Equipo</button></th>
          <th scope="col"><button type="button" class="btn btn-link" title="Ir a modulo interfaz"
            [routerLink]="['/moduloInterfaz']">Modulo Interfaz</button></th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of maquinas">
          <td>{{m.maquina | titlecase}}</td>
          <td>{{m.Area.area | titlecase}}</td>
          <td>{{m.TipoEquipo.tipoequipo }}</td>
          <td>{{m.ModuloInterfaz.serial }}</td>
          <td>
            <a class="btn" data-toggle="tooltip" data-placement="top" title="Editar" (click)="updateMaquina(m)"><i
                class="material-icons">create</i></a>
            <a class="btn" data-toggle="tooltip" data-placement="top" title="Eliminar " (click)="delete(m.idmaquina)"><i
                class="material-icons">delete</i></a>
            <!--<a class="btn" data-toggle="tooltip" data-placement="top" title="Agregar Sensor "
              (click)="addSensor(m.idmaquina)"><i class="material-icons">build</i></a>-->
            <a class="btn" data-toggle="tooltip" data-placement="top" title="Ver gráficas"
              [routerLink]="['/graficas',m.idmaquina]" ><i
                class="material-icons">assessment</i></a>
            <a class="btn" data-toggle="tooltip" data-placement="top" title="Ver tabla de estados"
              [routerLink]="['/tablaEstado',m.idmaquina]"> <i class="material-icons">
                bubble_chart </i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <span class="badge badge-light">Total: {{total}}</span>
  </div>
</div>