
@import '../../../../assets/variables.scss';

.card { 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tipo {
    margin-top: 3rem;
}

.footer{
    text-align: center;
}

button {
  right: 2px;
  border: 0px;
  background-color: transparent;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  border-color: transparent;
  color: transparent;
}

.alig {
  text-align: center;
}

.material-icons {
  width: 80%;
  height: 70px;
  padding-bottom: 0px;
  right: 2px;
  display: inline;
}