
<div class="table-responsive-lg">
<table class="table px-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha Inicio Evento</th>
      <th scope="col">Fecha Fin Evento</th>
      <th scope="col">Duración</th>
      <th scope="col">Fecha Inicio Paro</th>
      <th scope="col">Fecha Fin Paro</th>
      <th scope="col">Duración Paro</th>
      <th scope="col">Atiende</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{evento.hri |date:'medium'}}</td>
      <td>{{evento.hrf |date:'medium'}}</td>
      <td>{{evento.tiempoe}}</td>
      <td>{{evento.paroi |date:'medium'}}</td>
      <td>{{evento.parof |date:'medium'}}</td>
      <td>{{evento.tiempop}}</td>
      <td>{{evento.desbloqueo | uppercase }}</td>
    </tr>
  </tbody>
</table>
<!--<ngx-datatable
        class="material"
        [rows]="eventos"
        [columns]="[{name:'Fecha Inicio Evento'},{name:'Fecha Fin Evento'},{name:'Duración'},{name:'Fecha Inicio Paro'},{name:'Fecha Fin Paro'},
                    {name:'Duración Paro'},{name:'Atiende'}]"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="total"
        [offset]="offset"
        [limit]="limit"
        (page)='setPage($event)'>
      </ngx-datatable>-->
</div>