@import '../.././../assets/variables.scss';
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-custom{
    background-color: $indigo;
    color: white;
}

.search{
    width: 25% !important;
}