<div class="header">
    <h4>{{titleHeader}}</h4>
    <!--<select class="form-control search" id="area" [(ngModel)]="selectedArea" (ngModelChange)="searchByArea()">
      <option value="">Seleccionar área...</option>
      <option *ngFor="let a of areas" [value]="a.idarea">{{a.area | titlecase}}</option>
    </select>-->
    <input type="text" class="form-control search" placeholder="{{titleSelect}}"
      (input)="onSearchChange($event.target.value)">
    <button class="btn btn-custom" (click)="onClickButon()">
      <i class="material-icons"> add </i>
    </button>

</div>
