.navbar{
    .a{
        color: #f2f3f5 !important;
    }
    
    .a:hover{
        color: #f2f3f5 !important;
    }
}

.bg-secondary {
   // background-color: #6c757d!important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 8px 10px rgba(0, 0, 0, 0.22);
}

.nav-header{
    background-color: #8EAEBD;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 8px 10px rgba(0, 0, 0, 0.22)!important;
}