<nav class="navbar navbar-expand-lg nav-header mb-5 fixed-top">
  <a class="navbar-brand"><img class="icono-icma" [src]="urlImg" alt="Empresa"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link"  style="color: white" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: white" [routerLink]="['/graficas',0]">Gráficas </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  style="color: white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Ver
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/maquina']">Máquinas </a>
          <a class="dropdown-item" [routerLink]="['/sensor']">Sensores</a>
          <a class="dropdown-item" [routerLink]="['/departamento']">Departamentos</a>
          <a class="dropdown-item" [routerLink]="['/area']">Áreas</a>
          <a class="dropdown-item" [routerLink]="['/usuario']">Usuarios</a>
        </div>
      </li>
    </ul>
  </div>
</nav>