<nav class="navbar navbar-expand-lg  navbar-dark bg-dark mb-5 fixed-top">
  <a class="navbar-brand">ICMA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/graficas']">Gráficas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Nuevo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/maquina']">Máquina </a>
          <a class="dropdown-item" [routerLink]="['/sensor']">Sensor</a>
          <a class="dropdown-item" [routerLink]="['/departamento']">Departamento</a>
          <a class="dropdown-item" [routerLink]="['/area']">Área</a>
          <a class="dropdown-item" [routerLink]="['/cia']">Cia</a>
          <a class="dropdown-item" [routerLink]="['/usuario']">Usuario</a>
        </div>
      </li>
    </ul>
  </div>
</nav>