<!--
<div class="back">
  <div class="form-row col-12">
    <div class="header col-10">
      <h1>PERFORMANCE BOARD</h1>
    </div>
    <div class="col-2">
      <a class="navbar-brand"><img class="icono-icma" [src]="urlMidas" alt="Midas"></a>
    </div>
  </div>
  <div class="form-row col-12">
    <div class="navp col-2">
      <p >Status en linea</p>
    </div>
    <div class="navp col-10">
      <p >Solicitud de atención</p>
    </div>
  </div>
</div>
<div class="form-row col-12">
  <div class="header col-10"><h1>PERFORMANCE BOARD</h1></div>
  <div class="header col-2"><a class="navbar-brand"><img class="" [src]="urlMidas" alt="Midas"></a></div>
</div>

      <div class="navp col-2">
          <p>Status de linea</p>
      </div>
      <div class="navp col-10">
          <p>Solicitud de atención</p>
      </div>
 -->
<div class="back">
  <div class="row header">
    <div class="col-10"><h1>PERFORMANCE BOARD</h1></div>
    <div class="col-2 black"><a class="navbar-brand"><img class="" [src]="urlMidas" alt="Midas"></a></div>
  </div>

  <div class="row navp">
    <div class="col-2">
      <p>Solicitud de atención</p>
    </div>
    <div class="col-10">
      <p>Solicitud de atención</p>
    </div>
  </div>

  <div class="row iconos di">
    <div class="col-2">
      <a class="navbar-brand"><img class="" [src]="urlOperando" alt="Operando"></a>
    </div>
    <div class="col-2">
      <a class="navbar-brand"><img class="" [src]="urlMantenimiento" alt="Mantenimiento"></a>
    </div>
    <div class="col-2">
      <a class="navbar-brand"><img class="" [src]="urlMateriales" alt="Materiales"></a>
    </div>
    <div class="col-2">
      <a class="navbar-brand"><img class="" [src]="urlIngenieria" alt="Ingenieria"></a>
    </div>
    <div class="col-2">
      <a class="navbar-brand"><img class="" [src]="urlProduccion" alt="Produccion"></a>
    </div>
    <div class="col-2">
      <a class="navbar-brand"><img class="" [src]="urlCalidad" alt="Calidad"></a>
    </div>
  </div>


  <div class="col-2 dd">
    <div class="col-12 headerp">
      <p>PRODUCCIÓN</p>
    </div>
    <div class="col-12 prod">
      <p>Objetivo</p>
      <p class="prod-text">800</p>
    </div>
    <div class="col-12 prod">
      <p>Planeado</p>
      <p class="prod-text">800</p>
    </div>
    <div class="col-12 prod">
      <p>Actual</p>
      <p class="prod-text r">800</p>
    </div>
    <div class="col-12 prod">
      <p>Delta</p>
      <p class="prod-text r">800</p>
    </div>
  </div>

  <div class="col-10">
    <div class="col-6 dh">
      <div class="col-12 dat">
        <p>VELOCIDAD DE LINEA</p>
        <p class="dat-text">6.8 m</p>
      </div>
      <div class="col-12 dat">
        <p>EFICIENCIA DEL TURNO</p>
        <p class="dat-text">6.8 m</p>
      </div>
    </div>

    <div class="col-6">
      <p></p>
    </div>
  </div>

  <div class="col-10">
    <div class="col-6 headerp der">
      <p>SKU EN PRODUCCION</p>
      <div class="col-6">
        <p></p>
      </div>
    </div>
    <div class="col-6 headerp der">
      <p>SIGUIENTE SKU</p>
      <div class="col-6">
        <p></p>
      </div>
    </div>
  </div>


</div>
