@import '../../../../assets/variables.scss';

.card { 
    box-shadow: $shadow-card;
}

.perfilConfig{
    margin-top: 5rem;
}

.footer{
    text-align: center;
}

.breadcrumb{
    background-color: transparent!important;
}



