<div class="evento card mb-4">
  <div class="card-header">
    <label>Máquina:</label> 
    <label>Sensor:</label>
    <div>
      <app-dropdown
        [optionList]="numberOfElemets"
        [isDropleft]="true"
        (selectOptionOut)="selectOption($event)"
      ></app-dropdown>
    </div>
  </div>
    <app-tabla-sensor [eventos]="listEventos" [offset]="page" [limit]="limit" [total]="total"></app-tabla-sensor>
  </div>
  <app-pagination-bar (selectPageOut)="selectPage($event)"></app-pagination-bar>

  <!-- SPINNER -->
<ngx-spinner name="mySpinner"></ngx-spinner>