<div class="evento card mb-4">
  <div class="card-header">
    <label>Máquina: {{idMaquina}}</label> 
    <label>Sensor: {{sensor}}</label>
    <div>
      <app-dropdown
        [optionList]="numberOfElemets"
        [isDropleft]="true"
        (selectOptionOut)="selectOption($event)"
      ></app-dropdown>
    </div>
  </div>
    <app-tabla-sensor [eventos]="listEventos"></app-tabla-sensor>
    <span class="badge badge-light">Total: {{total}}</span>
  </div>
  <app-pagination-bar (selectPageOut)="selectPage($event)" [total]="total" [pageSize]="limit"></app-pagination-bar>

  <!-- SPINNER -->
<ngx-spinner name="mySpinner"></ngx-spinner>