<div class="home card card-shadow h-100 d-flex">
  <div class="card-body-custom">

    <div class="card-empresa">
      <div class="row">
        <div class="col-md-4 col-4">
          <img [src]="urlImg" alt="Empresa">
        </div>
        <div class="col-md-2 col-2">
          <p class="text-justify font-weight-bold"> Empresa:</p>
          <p class="text-justify font-weight-bold"> Razón:</p>
          <p class="text-justify font-weight-bold">Eslogan:</p>
        </div>
        <div class="col-md-2 col-2">
          <p>{{cia.nombre}}</p>
          <p>{{cia.razon}}</p>
          <p> {{cia.eslogan}}</p>
        </div>
      </div>
    </div>

    <div class="section-cards">
      <div class="cards-row">
        <div class="item-container {{card.class}}" [routerLink]="card.function" *ngFor="let card of homeCards">
          <i class="material-icons"> {{ card.icon }} </i>
          <div> {{ card.text }}</div>
        </div>
      </div>
    </div>

  </div>
</div>