<div class="home card card-shadow h-100 d-flex">
  <div class="card-body-custom">
  
    <div class="card-empresa">
      <div class="row">
        <div class="col-md-4">
          <img [src]="urlImg" alt="Empresa" width="100" height="142">
        </div>
        <div class="col-md-8">
          <p>Empresa:</p>
        </div>
      </div>
    </div>

    <div class="section-cards">
      <div class="cards-row">
        <div class="item-container {{card.class}}" [routerLink]="card.function" *ngFor="let card of homeCards">
          <i class="material-icons"> {{ card.icon }} </i>
          <div> {{ card.text }}</div>
        </div>
      </div>
    </div>

  </div>
</div>