<div class="">
  <div class="row">
    <div class="col">
      <div class="card my-4">
        <div class="card-header font-weight-bold" style="font-size: x-large;">
          Gráficas por sensor
        </div>
        <div class="card-body mx-2">
          <div class="row pb-1">
            <div class="col">
              <div class="form-group">
                <label for="maquina">Máquina:</label>
                <select class="form-control">
                  <option selected value=""></option>
                  <option *ngFor="let m of maquinas" [value]="m.idmaquina">{{m.maquina}} </option>
                </select>
              </div>

            </div>
            <div class="col">
              <div class="form-group">
                <label for="fechaInicio">Fecha Inicio:</label>
                <input type="date" id="fechaInicio" name="fechaInicio"   [(ngModel)]="fechaInicio" class="form-control" [(max)]="maxDate" (change)="fechaChanged()"
                >
              </div>

            </div>
            <div class="col">
              <div class="form-group">
                <label for="fechaFin">Fecha Fin:</label>
                <input type="date" id="fechaFin" name="fechaFin" class="form-control" [(max)]="maxDate" [(min)]="minDate"  [(ngModel)]="fechaFin" 
                (change)="fechaFinChanged()" [ngClass]="{ 'is-invalid': validDate }">
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
              <div class="form-group">
                <label for="horaInicio">Hora Inicio:</label>
                <input type="time" name="horaInicio" id="horaInicio" class="form-control"  [(ngModel)]="horaInicio">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="horaFin">Hora Fin:</label>
                <input type="time" name="horaFin" id="horaFin" class="form-control" [(ngModel)]="horaFin">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card my-4">
        <div class="card-body">
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-4">
        <div class="card-body">
          <div id="chartdiv1" style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card my-4">
        <div class="card-body">
          <div id="chartdiv2" style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>
  </div>
</div>