@import '../../../../assets/variables.scss';
.grafica-sensor {
    margin-top: 5rem;
}

.grafica-sensor-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.side-bar {
    flex: 1;
    min-width: 225px;
}

.cards-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5rem;
    height: 85vh;
    flex: 3;
    min-width: 370px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.card { 
    box-shadow: $shadow-card;
}

