<dialog-component [title]="title" (closeEmit)="closeModal()">
    <form [formGroup]="departamentoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="depto">Departamento</label>
        <input type="text" class="form-control" id="depto" nombre="departamento" [(ngModel)]="departamento.departamento"
          formControlName="departamento" [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }">
        <div *ngIf="submitted && f.departamento.errors" class="invalid-feedback">
          <div *ngIf="f.departamento.errors.required">Departamento es requerido</div>
        </div>
      </div>
      <button type="submit" class="btn btn-secondary">{{btnText}}</button>
    </form>

    <div class="alert animated fadeIn" *ngIf="alertMessage"
      [ngClass]="{'alert-danger': !alertSuccess, 'alert-success': alertSuccess }">
      {{ alertMessage }}
    </div>
</dialog-component>