<div class="departamento-modal">
  <div class="header">
    <h4>{{title}}</h4>
    <h2> <i class="material-icons pointer" (click)="closeModal()"> clear </i> </h2>
  </div>
  <div class="body">
    <form [formGroup]="departamentoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="depto">Departamento</label>
        <input type="text" class="form-control" id="depto" nombre="departamento" [(ngModel)]="departamento.departamento"
          formControlName="departamento" [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }">
        <div *ngIf="submitted && f.departamento.errors" class="invalid-feedback">
          <div *ngIf="f.departamento.errors.required">Departamento es requerido</div>
        </div>
      </div>
      <!--<div class="form-group">
        <label for="cia">Cia</label>
        <select class="form-control" id="cia" nombre="idcia" [(ngModel)]="departamento.idcia" formControlName="idcia"
          [ngClass]="{ 'is-invalid': submitted && f.idcia.errors }">
          <option *ngFor="let c of cias" [value]="c.idcia">{{c.nombre}}</option>
        </select>
        <div *ngIf="submitted && f.idcia.errors" class="invalid-feedback">
          <div *ngIf="f.idcia.errors.required">Cia es requerido</div>
        </div>
      </div>-->
      <button type="submit" class="btn custom">{{btnText}}</button>
    </form>

    <div class="alert animated fadeIn" *ngIf="alertMessage"
      [ngClass]="{'alert-danger': !alertSuccess, 'alert-success': alertSuccess }">
      {{ alertMessage }}
    </div>
  </div>
</div>