<dialog-component [title]="title" (closeEmit)="closeModal()" [alertMessage]="alertMessage">
  <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="area">Área</label>
      <input type="text" class="form-control" id="area" nombre="area" [(ngModel)]="area.area" formControlName="area"
        [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
      <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
        <div *ngIf="f.area.errors.required">Área es requerida</div>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary">Guardar</button>
  </form>
</dialog-component>