

// HOME COLORS 

$black: #000000;
$blue: #062F4F;
$pink: #813772;
$red: #B82601;
$green: #064f4f;
$yellow: #9a8f0f;
$orange: #b95323e6;
$green-primary: #4E8689;
$blue-gray:#8EAEBD;
$indigo:#48618A;

$shadow-card : 0 14px 18px rgba(0,0,0,0), 0 8px 7px rgba(0,0,0,0.15);